body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f6fa;
  margin: 0;
}

.title-bar {
  padding: 5px;
  margin: 0;
  text-align: center;
  background-color: #222f3e;
  color: #f5f6fa;
  border-bottom: 2px solid #f50057;
}